/* Reset margin dan font */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 30px 60px;
  color: #347433;
}

/* Logo/title */
.navbar .logo {
  font-size: 30px;
  font-weight: 600;
}

/* Menu items */
.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  cursor: pointer;
  transition: color 0.3s;
}

.navbar ul li:hover {
  color: #FFC107;
}

.hero {
  background-color: #E8F1DD;
  color: black;
  padding: 30px 60px;
}

.hero-content {
  display: flex;
  align-items: right;
  justify-content: left;
  max-width: 1200px;
  margin: 0 auto;
}

.hero img {
  max-width: 100%;
  font-weight: 600;
}

.hero h1 {
  font-size: 40px;
  font-weight: 600;
}

.highlight {
  color: #FFC107;  /* ubah warna kata Hari Ini jadi kuning */
}

.about-section {
  background-color: #ffffff;
  color: #333333;
  padding: 80px 60px;
}

.section-header h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #347433;
}

.sub-title {
  font-size: 18px;
  color: #FFC107;
  margin-bottom: 50px;
}

.about-content p {
  font-size: 16px;
  line-height: 1,6;
}

.about-content a.btn {
  background-color: #8AB855;
  border-color: #8AB855;
  color: white;
  text-decoration: none;
}

.about-content a.btn:hover {
  background-color: #76a13e;
  border-color: #76a13e;
}

